Package: oss-cluster
Version: [[version]]
Section: java
Priority: optional
Architecture: all
Description: REST/JSON Web Service for Cluster management
  A REST/JSON Web Service for servers and service management.
  oss-cluster is a part of the OpenSearchServer stack.
Maintainer: Emmanuel Keller <ekeller@open-search-server.com>
Homepage: https://github.com/opensearchserver/oss-cluster
Vcs-Git: https://github.com/opensearchserver/oss-cluster.git
